<div class="flex search-navigation">
    <form class="search" action="/" method="GET">
        <input type="text" placeholder="Search for a country..." class="white-bg box-shadow very-dark-blue-clr element text" name="nation">
        <button class="submit white-bg very-dark-blue-clr"><i class="fas fa-search very-dark-blue-clr text"></i></button>
    </form>

    <div class="drop-down">
        <div class="flex">
            <button class="box-shadow drop-down-btn flex very-dark-blue-clr text element"><p>Filter by Region</p><i class="fas fa-chevron-down"></i></button>
        </div>
        <form class="drop-down-content white-bg element" action="/" method="GET">
            <input type="submit" class="very-dark-blue-clr text">Africa</input>
            <input type="submit" class="very-dark-blue-clr text">America</input>
            <input type="submit" class="very-dark-blue-clr text">Asia</input>
            <input type="submit" class="very-dark-blue-clr text">Europe</input>
            <input type="submit" class="very-dark-blue-clr text">Oceania</input>
            </ <form class="drop-down-content white-bg element">
            >
    </div>
</div>