<header class="primary-header white-bg box-shadow element">
    <nav class="flex primary-navigation">
        <a href="/" class="fs-800 very-dark-blue-clr text">Where is the world?</a>
        <a id="dark-light-mode" class="fs-600 very-dark-blue-clr white-bg element text" value="light" name="mode"><i class="far fa-moon very-dark-blue-clr text"></i>Darkmode</button>
    </nav>
</header>